# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.sln

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod


# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sln
*.vcxproj
*.user
*.filters

package-lock.json

#Project files
[Bb]uild/
[Rr]es/
[Nn]ode_modules/
[Aa]ssets/
[Nn]ode_modules/

# Other
.vscode/
[x]64/