body {
    display:flex; 
    justify-content:center; 
    align-items: center; 
    height: 100vh;
}
tr td {
    padding-top: 0.1em; 
    border-style: groove
}

#plain {
	width:656px;
	background: url(assets\plain.png) repeat-y;
	padding:0px 32px 16px 40px;
}

.plain-top {
	background: url(assets\top.png) no-repeat;
	padding-top:32px;
}

.plain-bar {
	background: url(assets\bottom.png) no-repeat bottom;
	padding-bottom:32px;
}