<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Virus war</title>
    <link rel="stylesheet" href="/games.css">
</head>

<body class="page_start">
    <div class="plain-top_home">
        <div class="plain-bar_home">
            <div id="plain_home">
                <p class='headline'>Virus war</p>
                <div>
                    <% if (!game_is_started) { %>
                        <a href="/player1">
                            <button class="btn">Start game</button>
                        </a>
                    <% } else { %>
                            <a href="/player2">
                                <button class="btn">Join game</button>
                            </a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</body>

</html>