<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/games.css">
    </head>
    <body>
        <script type = 'module' src = "/virus.js"></script>
        <div class = "plain-top">
            <div class = "plain-bar">
                <div id = "plain">
                    <div id="table-container">
                        <table id="game_field">
                            <tbody>
                            </tbody>
                        </table>
                    </div>            
                </div>
            </div>
        </div>
    </body>
</html>